*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header{ 
    margin-top: 47px,42px;


}

.link-header{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    text-align: center;
    color: #17233D;
    margin-right: 32px;
    cursor:pointer
}

.button-header{
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor:pointer;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

img{
    margin-top:163px;
    margin-left: 121px;
    display:inline-block;
}
div{
    display:inline-block;
    margin-left: 84px;
    width:493px;

}

h1{
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.5961538553237915px;
    color: #161A49;
}
p{
   
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-div{ 
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor:pointer;
    background: transparent;
    border:none;


}